<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pesquisar Usuários</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Pesquisar Usuários</h1>
    <form th:action="@{/usuarios/pesquisar}" method="get">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" />
        <button type="submit">Pesquisar</button>
    </form>
    <br/>
    <a th:href="@{/usuarios/inserir}">Inserir novo usuário</a>
    <br/><br/>
    <div th:if="${usuarios != null && usuarios.size > 0}">
        <div th:replace="~{usuario/listar :: lista}"></div>
    </div>
</body>
</html>
